<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.4"?><plugin>
  <extension point="org.gemoc.gemoc_language_workbench.concurrent.xdsml">
    <XDSML_Definition codeExecutor_class="eastadl.xdsml.api.impl.EastADLCodeExecutor" modelLoader_class="org.gemoc.executionframework.extensions.sirius.modelloader.DefaultModelLoader" name="fr.inria.aoste.executable.eastadl.EastADL" solver_class="org.gemoc.execution.concurrent.ccsljavaengine.extensions.timesquare.moc.impl.CcslSolver" toCCSLQVTOFilePath="/fr.inria.aoste.eastadl.ecl/qvto-gen/modeling/EAST-ADL.qvto" xdsmlFilePath="/fr.inria.aoste.executable.eastadl/bin/fr/inria/aoste/executable/eastadl/eastadl.melange">
      <XDSML_Definition_Customization fileExtensions="systemmodeling"/>
    </XDSML_Definition>
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <!-- @generated EastadlMT -->
    <package class="fr.inria.aoste.executable.eastadl.eastadlmt.eastadl21.Eastadl21Package" genModel="model-gen/EastadlMT.genmodel" uri="http://fr.inria.aoste.executable.eastadl.eastadlmt/eastadl21/"/>
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <!-- @generated EastadlMT -->
    <package class="fr.inria.aoste.executable.eastadl.eastadlmt.eastadl21.east_adl.East_adlPackage" genModel="model-gen/EastadlMT.genmodel" uri="http://fr.inria.aoste.executable.eastadl.eastadlmt/eastadl21/east_adl/"/>
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <!-- @generated EastadlMT -->
    <package class="fr.inria.aoste.executable.eastadl.eastadlmt.eastadl21.east_adl.structure.StructurePackage" genModel="model-gen/EastadlMT.genmodel" uri="http://fr.inria.aoste.executable.eastadl.eastadlmt/eastadl21/east_adl/structure/"/>
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <!-- @generated EastadlMT -->
    <package class="fr.inria.aoste.executable.eastadl.eastadlmt.eastadl21.east_adl.structure.systemmodeling.SystemmodelingPackage" genModel="model-gen/EastadlMT.genmodel" uri="http://fr.inria.aoste.executable.eastadl.eastadlmt/eastadl21/east_adl/structure/systemmodeling/"/>
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <!-- @generated EastadlMT -->
    <package class="fr.inria.aoste.executable.eastadl.eastadlmt.eastadl21.east_adl.structure.featuremodeling.FeaturemodelingPackage" genModel="model-gen/EastadlMT.genmodel" uri="http://fr.inria.aoste.executable.eastadl.eastadlmt/eastadl21/east_adl/structure/featuremodeling/"/>
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <!-- @generated EastadlMT -->
    <package class="fr.inria.aoste.executable.eastadl.eastadlmt.eastadl21.east_adl.structure.vehiclefeaturemodeling.VehiclefeaturemodelingPackage" genModel="model-gen/EastadlMT.genmodel" uri="http://fr.inria.aoste.executable.eastadl.eastadlmt/eastadl21/east_adl/structure/vehiclefeaturemodeling/"/>
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <!-- @generated EastadlMT -->
    <package class="fr.inria.aoste.executable.eastadl.eastadlmt.eastadl21.east_adl.structure.functionmodeling.FunctionmodelingPackage" genModel="model-gen/EastadlMT.genmodel" uri="http://fr.inria.aoste.executable.eastadl.eastadlmt/eastadl21/east_adl/structure/functionmodeling/"/>
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <!-- @generated EastadlMT -->
    <package class="fr.inria.aoste.executable.eastadl.eastadlmt.eastadl21.east_adl.structure.functionmodeling._instanceref._instancerefPackage" genModel="model-gen/EastadlMT.genmodel" uri="http://fr.inria.aoste.executable.eastadl.eastadlmt/eastadl21/east_adl/structure/functionmodeling/_instanceref/"/>
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <!-- @generated EastadlMT -->
    <package class="fr.inria.aoste.executable.eastadl.eastadlmt.eastadl21.east_adl.structure.hardwaremodeling.HardwaremodelingPackage" genModel="model-gen/EastadlMT.genmodel" uri="http://fr.inria.aoste.executable.eastadl.eastadlmt/eastadl21/east_adl/structure/hardwaremodeling/"/>
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <!-- @generated EastadlMT -->
    <package class="fr.inria.aoste.executable.eastadl.eastadlmt.eastadl21.east_adl.structure.hardwaremodeling._instanceref._instancerefPackage" genModel="model-gen/EastadlMT.genmodel" uri="http://fr.inria.aoste.executable.eastadl.eastadlmt/eastadl21/east_adl/structure/hardwaremodeling/_instanceref/"/>
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <!-- @generated EastadlMT -->
    <package class="fr.inria.aoste.executable.eastadl.eastadlmt.eastadl21.east_adl.behavior.BehaviorPackage" genModel="model-gen/EastadlMT.genmodel" uri="http://fr.inria.aoste.executable.eastadl.eastadlmt/eastadl21/east_adl/behavior/"/>
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <!-- @generated EastadlMT -->
    <package class="fr.inria.aoste.executable.eastadl.eastadlmt.eastadl21.east_adl.variability.VariabilityPackage" genModel="model-gen/EastadlMT.genmodel" uri="http://fr.inria.aoste.executable.eastadl.eastadlmt/eastadl21/east_adl/variability/"/>
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <!-- @generated EastadlMT -->
    <package class="fr.inria.aoste.executable.eastadl.eastadlmt.eastadl21.east_adl.requirements.RequirementsPackage" genModel="model-gen/EastadlMT.genmodel" uri="http://fr.inria.aoste.executable.eastadl.eastadlmt/eastadl21/east_adl/requirements/"/>
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <!-- @generated EastadlMT -->
    <package class="fr.inria.aoste.executable.eastadl.eastadlmt.eastadl21.east_adl.requirements._instanceref._instancerefPackage" genModel="model-gen/EastadlMT.genmodel" uri="http://fr.inria.aoste.executable.eastadl.eastadlmt/eastadl21/east_adl/requirements/_instanceref/"/>
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <!-- @generated EastadlMT -->
    <package class="fr.inria.aoste.executable.eastadl.eastadlmt.eastadl21.east_adl.requirements.usecases.UsecasesPackage" genModel="model-gen/EastadlMT.genmodel" uri="http://fr.inria.aoste.executable.eastadl.eastadlmt/eastadl21/east_adl/requirements/usecases/"/>
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <!-- @generated EastadlMT -->
    <package class="fr.inria.aoste.executable.eastadl.eastadlmt.eastadl21.east_adl.requirements.verificationvalidation.VerificationvalidationPackage" genModel="model-gen/EastadlMT.genmodel" uri="http://fr.inria.aoste.executable.eastadl.eastadlmt/eastadl21/east_adl/requirements/verificationvalidation/"/>
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <!-- @generated EastadlMT -->
    <package class="fr.inria.aoste.executable.eastadl.eastadlmt.eastadl21.east_adl.environment.EnvironmentPackage" genModel="model-gen/EastadlMT.genmodel" uri="http://fr.inria.aoste.executable.eastadl.eastadlmt/eastadl21/east_adl/environment/"/>
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <!-- @generated EastadlMT -->
    <package class="fr.inria.aoste.executable.eastadl.eastadlmt.eastadl21.east_adl.environment._instanceref._instancerefPackage" genModel="model-gen/EastadlMT.genmodel" uri="http://fr.inria.aoste.executable.eastadl.eastadlmt/eastadl21/east_adl/environment/_instanceref/"/>
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <!-- @generated EastadlMT -->
    <package class="fr.inria.aoste.executable.eastadl.eastadlmt.eastadl21.east_adl.interchange.InterchangePackage" genModel="model-gen/EastadlMT.genmodel" uri="http://fr.inria.aoste.executable.eastadl.eastadlmt/eastadl21/east_adl/interchange/"/>
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <!-- @generated EastadlMT -->
    <package class="fr.inria.aoste.executable.eastadl.eastadlmt.eastadl21.east_adl.timing.TimingPackage" genModel="model-gen/EastadlMT.genmodel" uri="http://fr.inria.aoste.executable.eastadl.eastadlmt/eastadl21/east_adl/timing/"/>
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <!-- @generated EastadlMT -->
    <package class="fr.inria.aoste.executable.eastadl.eastadlmt.eastadl21.east_adl.timing._instanceref._instancerefPackage" genModel="model-gen/EastadlMT.genmodel" uri="http://fr.inria.aoste.executable.eastadl.eastadlmt/eastadl21/east_adl/timing/_instanceref/"/>
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <!-- @generated EastadlMT -->
    <package class="fr.inria.aoste.executable.eastadl.eastadlmt.eastadl21.east_adl.timing.events.EventsPackage" genModel="model-gen/EastadlMT.genmodel" uri="http://fr.inria.aoste.executable.eastadl.eastadlmt/eastadl21/east_adl/timing/events/"/>
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <!-- @generated EastadlMT -->
    <package class="fr.inria.aoste.executable.eastadl.eastadlmt.eastadl21.east_adl.timing.events._instanceref._instancerefPackage" genModel="model-gen/EastadlMT.genmodel" uri="http://fr.inria.aoste.executable.eastadl.eastadlmt/eastadl21/east_adl/timing/events/_instanceref/"/>
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <!-- @generated EastadlMT -->
    <package class="fr.inria.aoste.executable.eastadl.eastadlmt.eastadl21.east_adl.timing.timingconstraints.TimingconstraintsPackage" genModel="model-gen/EastadlMT.genmodel" uri="http://fr.inria.aoste.executable.eastadl.eastadlmt/eastadl21/east_adl/timing/timingconstraints/"/>
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <!-- @generated EastadlMT -->
    <package class="fr.inria.aoste.executable.eastadl.eastadlmt.eastadl21.east_adl.dependability.DependabilityPackage" genModel="model-gen/EastadlMT.genmodel" uri="http://fr.inria.aoste.executable.eastadl.eastadlmt/eastadl21/east_adl/dependability/"/>
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <!-- @generated EastadlMT -->
    <package class="fr.inria.aoste.executable.eastadl.eastadlmt.eastadl21.east_adl.dependability.safetyconstraints.SafetyconstraintsPackage" genModel="model-gen/EastadlMT.genmodel" uri="http://fr.inria.aoste.executable.eastadl.eastadlmt/eastadl21/east_adl/dependability/safetyconstraints/"/>
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <!-- @generated EastadlMT -->
    <package class="fr.inria.aoste.executable.eastadl.eastadlmt.eastadl21.east_adl.dependability.safetyconstraints._instanceref._instancerefPackage" genModel="model-gen/EastadlMT.genmodel" uri="http://fr.inria.aoste.executable.eastadl.eastadlmt/eastadl21/east_adl/dependability/safetyconstraints/_instanceref/"/>
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <!-- @generated EastadlMT -->
    <package class="fr.inria.aoste.executable.eastadl.eastadlmt.eastadl21.east_adl.dependability.errormodel.ErrormodelPackage" genModel="model-gen/EastadlMT.genmodel" uri="http://fr.inria.aoste.executable.eastadl.eastadlmt/eastadl21/east_adl/dependability/errormodel/"/>
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <!-- @generated EastadlMT -->
    <package class="fr.inria.aoste.executable.eastadl.eastadlmt.eastadl21.east_adl.dependability.errormodel._instanceref._instancerefPackage" genModel="model-gen/EastadlMT.genmodel" uri="http://fr.inria.aoste.executable.eastadl.eastadlmt/eastadl21/east_adl/dependability/errormodel/_instanceref/"/>
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <!-- @generated EastadlMT -->
    <package class="fr.inria.aoste.executable.eastadl.eastadlmt.eastadl21.east_adl.dependability.safetyrequirement.SafetyrequirementPackage" genModel="model-gen/EastadlMT.genmodel" uri="http://fr.inria.aoste.executable.eastadl.eastadlmt/eastadl21/east_adl/dependability/safetyrequirement/"/>
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <!-- @generated EastadlMT -->
    <package class="fr.inria.aoste.executable.eastadl.eastadlmt.eastadl21.east_adl.dependability.safetycase.SafetycasePackage" genModel="model-gen/EastadlMT.genmodel" uri="http://fr.inria.aoste.executable.eastadl.eastadlmt/eastadl21/east_adl/dependability/safetycase/"/>
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <!-- @generated EastadlMT -->
    <package class="fr.inria.aoste.executable.eastadl.eastadlmt.eastadl21.east_adl.genericconstraints.GenericconstraintsPackage" genModel="model-gen/EastadlMT.genmodel" uri="http://fr.inria.aoste.executable.eastadl.eastadlmt/eastadl21/east_adl/genericconstraints/"/>
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <!-- @generated EastadlMT -->
    <package class="fr.inria.aoste.executable.eastadl.eastadlmt.eastadl21.east_adl.infrastructure.InfrastructurePackage" genModel="model-gen/EastadlMT.genmodel" uri="http://fr.inria.aoste.executable.eastadl.eastadlmt/eastadl21/east_adl/infrastructure/"/>
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <!-- @generated EastadlMT -->
    <package class="fr.inria.aoste.executable.eastadl.eastadlmt.eastadl21.east_adl.infrastructure.elements.ElementsPackage" genModel="model-gen/EastadlMT.genmodel" uri="http://fr.inria.aoste.executable.eastadl.eastadlmt/eastadl21/east_adl/infrastructure/elements/"/>
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <!-- @generated EastadlMT -->
    <package class="fr.inria.aoste.executable.eastadl.eastadlmt.eastadl21.east_adl.infrastructure.elements._instanceref._instancerefPackage" genModel="model-gen/EastadlMT.genmodel" uri="http://fr.inria.aoste.executable.eastadl.eastadlmt/eastadl21/east_adl/infrastructure/elements/_instanceref/"/>
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <!-- @generated EastadlMT -->
    <package class="fr.inria.aoste.executable.eastadl.eastadlmt.eastadl21.east_adl.infrastructure.datatypes.DatatypesPackage" genModel="model-gen/EastadlMT.genmodel" uri="http://fr.inria.aoste.executable.eastadl.eastadlmt/eastadl21/east_adl/infrastructure/datatypes/"/>
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <!-- @generated EastadlMT -->
    <package class="fr.inria.aoste.executable.eastadl.eastadlmt.eastadl21.east_adl.infrastructure.userattributes.UserattributesPackage" genModel="model-gen/EastadlMT.genmodel" uri="http://fr.inria.aoste.executable.eastadl.eastadlmt/eastadl21/east_adl/infrastructure/userattributes/"/>
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <!-- @generated EastadlMT -->
    <package class="fr.inria.aoste.executable.eastadl.eastadlmt.eastadl21.east_adl.annexes.AnnexesPackage" genModel="model-gen/EastadlMT.genmodel" uri="http://fr.inria.aoste.executable.eastadl.eastadlmt/eastadl21/east_adl/annexes/"/>
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <!-- @generated EastadlMT -->
    <package class="fr.inria.aoste.executable.eastadl.eastadlmt.eastadl21.east_adl.annexes.behaviorconstraints.BehaviorconstraintsPackage" genModel="model-gen/EastadlMT.genmodel" uri="http://fr.inria.aoste.executable.eastadl.eastadlmt/eastadl21/east_adl/annexes/behaviorconstraints/"/>
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <!-- @generated EastadlMT -->
    <package class="fr.inria.aoste.executable.eastadl.eastadlmt.eastadl21.east_adl.annexes.needs.NeedsPackage" genModel="model-gen/EastadlMT.genmodel" uri="http://fr.inria.aoste.executable.eastadl.eastadlmt/eastadl21/east_adl/annexes/needs/"/>
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <!-- @generated EastadlMT -->
    <package class="fr.inria.aoste.executable.eastadl.eastadlmt.eastadl21.autosar.AutosarPackage" genModel="model-gen/EastadlMT.genmodel" uri="http://fr.inria.aoste.executable.eastadl.eastadlmt/eastadl21/autosar/"/>
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <!-- @generated EastadlMT -->
    <package class="fr.inria.aoste.executable.eastadl.eastadlmt.eastadl21.autosar.genericstructure.GenericstructurePackage" genModel="model-gen/EastadlMT.genmodel" uri="http://fr.inria.aoste.executable.eastadl.eastadlmt/eastadl21/autosar/genericstructure/"/>
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <!-- @generated EastadlMT -->
    <package class="fr.inria.aoste.executable.eastadl.eastadlmt.eastadl21.autosar.genericstructure.autosartoplevelstructure.AutosartoplevelstructurePackage" genModel="model-gen/EastadlMT.genmodel" uri="http://fr.inria.aoste.executable.eastadl.eastadlmt/eastadl21/autosar/genericstructure/autosartoplevelstructure/"/>
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <!-- @generated EastadlMT -->
    <package class="fr.inria.aoste.executable.eastadl.eastadlmt.eastadl21.autosar.genericstructure.generaltemplateclasses.GeneraltemplateclassesPackage" genModel="model-gen/EastadlMT.genmodel" uri="http://fr.inria.aoste.executable.eastadl.eastadlmt/eastadl21/autosar/genericstructure/generaltemplateclasses/"/>
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <!-- @generated EastadlMT -->
    <package class="fr.inria.aoste.executable.eastadl.eastadlmt.eastadl21.autosar.genericstructure.generaltemplateclasses.timevalue.TimevaluePackage" genModel="model-gen/EastadlMT.genmodel" uri="http://fr.inria.aoste.executable.eastadl.eastadlmt/eastadl21/autosar/genericstructure/generaltemplateclasses/timevalue/"/>
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <!-- @generated EastadlMT -->
    <package class="fr.inria.aoste.executable.eastadl.eastadlmt.eastadl21.autosar.genericstructure.generaltemplateclasses.identifiable.IdentifiablePackage" genModel="model-gen/EastadlMT.genmodel" uri="http://fr.inria.aoste.executable.eastadl.eastadlmt/eastadl21/autosar/genericstructure/generaltemplateclasses/identifiable/"/>
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <!-- @generated EastadlMT -->
    <package class="fr.inria.aoste.executable.eastadl.eastadlmt.eastadl21.autosar.genericstructure.generaltemplateclasses.primitivetypes.PrimitivetypesPackage" genModel="model-gen/EastadlMT.genmodel" uri="http://fr.inria.aoste.executable.eastadl.eastadlmt/eastadl21/autosar/genericstructure/generaltemplateclasses/primitivetypes/"/>
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <!-- @generated EastadlMT -->
    <package class="fr.inria.aoste.executable.eastadl.eastadlmt.eastadl21.autosar.genericstructure.formulalanguage.FormulalanguagePackage" genModel="model-gen/EastadlMT.genmodel" uri="http://fr.inria.aoste.executable.eastadl.eastadlmt/eastadl21/autosar/genericstructure/formulalanguage/"/>
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <!-- @generated EastadlMT -->
    <package class="fr.inria.aoste.executable.eastadl.eastadlmt.eastadl21.autosar.genericstructure.abstractstructure.AbstractstructurePackage" genModel="model-gen/EastadlMT.genmodel" uri="http://fr.inria.aoste.executable.eastadl.eastadlmt/eastadl21/autosar/genericstructure/abstractstructure/"/>
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <!-- @generated EastadlMT -->
    <package class="fr.inria.aoste.executable.eastadl.eastadlmt.eastadl21.autosar.systemtemplate.SystemtemplatePackage" genModel="model-gen/EastadlMT.genmodel" uri="http://fr.inria.aoste.executable.eastadl.eastadlmt/eastadl21/autosar/systemtemplate/"/>
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <!-- @generated EastadlMT -->
    <package class="fr.inria.aoste.executable.eastadl.eastadlmt.geastadl.ginfrastructure.GinfrastructurePackage" genModel="model-gen/EastadlMT.genmodel" uri="http://fr.inria.aoste.executable.eastadl.eastadlmt/geastadl/ginfrastructure/"/>
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <!-- @generated EastadlMT -->
    <package class="fr.inria.aoste.executable.eastadl.eastadlmt.geastadl.ginfrastructure.gelements.GelementsPackage" genModel="model-gen/EastadlMT.genmodel" uri="http://fr.inria.aoste.executable.eastadl.eastadlmt/geastadl/ginfrastructure/gelements/"/>
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <!-- @generated EastadlMT -->
    <package class="fr.inria.aoste.executable.eastadl.eastadlmt.geastadl.ginfrastructure.gprimitivetypes.GprimitivetypesPackage" genModel="model-gen/EastadlMT.genmodel" uri="http://fr.inria.aoste.executable.eastadl.eastadlmt/geastadl/ginfrastructure/gprimitivetypes/"/>
  </extension>
  
<extension point="fr.inria.diverse.melange.modeltype">
    <modeltype id="fr.inria.aoste.executable.eastadl.EastADLMT" uri="http://fr.inria.aoste.executable.eastadl.eastadlmt/"/>
  </extension>
  <extension point="fr.inria.diverse.melange.language">
    <language aspects="AnalysisFunctionPrototype:fr.inria.aoste.executable.eastadl.eastadl.aspects.AnalysisFunctionPrototypeAspect;FunctionFlowPortProxy:fr.inria.aoste.executable.eastadl.eastadl.aspects.FunctionFlowPortProxyAspect" entryPoints="" exactType="fr.inria.aoste.executable.eastadl.EastADLMT" id="fr.inria.aoste.executable.eastadl.EastADL" uri="http://fr.inria.aoste.executable.eastadl.eastadl/geastadl/ginfrastructure/gelements/">
      <adapter class="fr.inria.aoste.executable.eastadl.eastadl.adapters.eastadlmt.EastADLAdapter" modeltypeId="fr.inria.aoste.executable.eastadl.EastADLMT"/>
    </language>
  </extension>
</plugin>
